<!DOCTYPE html>
<html>
<head>
    <title>Đồ chơi SM</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <!--//tags -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">0
    <!--pop-up-box-->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui1.css">

   
    <style>
        #content-desktop {
            display: block;
        }

        #content-mobile {
            display: none;
        }

        @@media screen and (max-width: 768px) {

            #content-desktop {
                display: none;
            }

            #content-mobile {
                display: block;
            }
        }
        a.change:hover {
            color: yellow;
        }
        a.changenav:hover {
            color: #000000;
        }
        a:hover{
            color:yellow;
        }
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        /* Popup container - can be anything you want */
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* The actual popup */
            .popup .popuptext {
                visibility: hidden;
                width: 250px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 8px 0;
                position: relative;
                z-index: 1;
                bottom: 135%;
                left: 70%;
                margin-left: -80px;
                margin-top: -29px;
            }

               

            /* Toggle this class - hide and show the popup */
            .popup .show {
                visibility: visible;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }

        /* Add animation (fade in the popup) */
        @@-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
        ul li ul li a:hover {
            background: #666;
        }
    </style>
    <!-- start-smoth-scrolling -->
</head>


<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="container">
            <div class="agile-login1" id="content-moblie">
                <div class="w3layouts-foot">
                    <ul class="w3layouts-foot-info">
                        <li><a href="http://www.facebooks.com/DOCHOISM/" class="w3_agile_facebook" id="content-desktop"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <a href="http://www.facebooks.com/DOCHOISM/">http://fb.com/DOCHOISM/</a>
                    </ul>
                </div>
                <ul class="w3layouts-foot-info2">
                    <li style="margin-top:35px; width:150px; margin-left: 100px; font-size: 15px" ><a href="/product/allproduct" class="change" id="content-desktop1">Mua ngay</a></li>
                </ul>  
            </div>
            <div class="agile-login" id="content-desktop">
                <ul class="w3layouts-foot2">
                    <li><a href="/product/saleproduct" class="change">Khuyến mãi</a></li>
                    <li><a href="/home/contact" class="change">Liên hệ</a></li>
                    <li><a href="/post/list" class="change">Bài viết</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone popup" aria-hidden="true" style="margin-left:20px" onclick="myFunction()"><span class=" popuptext" id="myPopup">Số điện thoại: 090 185 9284</span></i></li>

                </ul>
            </div>
            <div class="w3ls_logo_products_left">
                <h1><a href="/home/index">Đồ chơi SM</a></h1>
            </div>
            <div class="w3l_search">
                <form action="/home/search" method="get">
                    <input type="search" name="search" placeholder="Tìm kiếm...">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="product_list_header">
            <form action="/checkout/cart" method="post" class="last">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="display" value="1">
                <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
            </form>
        </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- navigation -->
    <div class="navigation-agileits">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <!-- Mega Menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SM Set &amp; Accessory<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6><a href="#" class="changenav">Set &amp; Accessory</a></h6>    
                                            <li><a href="/product/smset">Set SM</a></li>
                                            <li><a href="/product/smaccessory">Phụ kiện</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vibrator<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6><a href="#" class="changenav">Vibrator</a></h6>
                                            <li><a href="/product/vibtr">Trứng rung</a></li>
                                            <li><a href="/product/vibmr">Máy rung</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anal Toy<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6><a href="#" class="changenav">Anal Toy</a></h6>
                                            <li><a href="/product/analbutt">Butt Plug</a></li>
                                            <li><a href="/product/analbead">Anal Beads</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SM Tails<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6><a href="#" class="changenav">SM Tails</a></h6>
                                            <li><a href="/product/tailfox">Đuôi cáo</a></li>
                                            <li><a href="/product/taildog">Đuôi thỏ/chó</a></li>
                                        </ul>
                                    </div>


                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paddle/Whip/Cane<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6><a href="#" class="changenav">Paddle/Whip/Cane</a></h6>
                                            <li><a href="/product/paddle">Paddle</a></li>
                                            <li><a href="/product/whip">Whip</a></li>
                                            <li><a href="/product/cane">Cane</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dildo/Chastity<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6><a href="#" class="changenav">Dildo/Chastity</a></h6>
                                            <li><a href="/product/fakedildo">DV giả</a></li>
                                            <li><a href="/product/blockdildo">Khóa DV</a></li>
                                            <li><a href="/product/strapon">Strap-on</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Gag<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6><a href="#" class="changenav" >Gag</a></h6>
                                            <li><a href="/product/ballgag">Ball gag</a></li>
                                            <li><a href="/product/runggag">Ring gag</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- //navigation -->

    @RenderBody()
    <!-- //footer -->
    <div class="footer">
        <div class="container">
            <div class="w3_footer_grids">
                <div class="col-md-3 w3_footer_grid">
                    <h3>Thông tin</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/home/contact">Liên hệ</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Đăng nhập</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Đăng kí</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Mua hàng</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/buyproduct/guidebuyproduct">Hướng dẫn đặt hàng</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/buyproduct/transport">Vận chuyển - Thanh toán</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/buyproduct/personalcare">Bảo hành - Đổi trả</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="w3_footer_grids">
                <div class="w3_footer_map">
                    <h3>Địa chỉ kho</h3>
                    <ul class="info">
                        <li><a>Quận 7</a></li>
                    </ul>
                    <div class="agile_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3905851087434!2d-34.90500565012194!3d-8.061582082752993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18d90992e4ab%3A0x8e83c4afabe39a3a!2sSport+Club+Do+Recife!5e0!3m2!1sen!2sin!4v1478684415917" style="border:0"></iframe>
                    </div>
                </div>
                <div class="w3_footer_map" id="w3_footer_map_q3">
                    <h3></h3>
                    <ul class="info">
                        <li><a>Quận 3</a></li>
                    </ul>
                    <div class="agile_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3905851087434!2d-34.90500565012194!3d-8.061582082752993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18d90992e4ab%3A0x8e83c4afabe39a3a!2sSport+Club+Do+Recife!5e0!3m2!1sen!2sin!4v1478684415917" style="border:0"></iframe>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="footer-copy">
            <div class="container">
                <p><a href="http://dochoism.com">http://dochoism.com</a><br />SHIP COD TOÀN QUỐC</p>
            </div>
        </div>

    </div>
    <!-- //footer -->



    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- top-header and slider -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });

    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/Content/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '/checkout/addtocart'
        });

        //if (~window.location.href.indexOf('cart') > -1) {
        //    paypal.minicart.reset();
        //}

    </script>
    <!-- main slider-banner -->
    <script src="~/Content/js/skdslider.min.js"></script>
    <link href="~/Content/css/skdslider.css" rel="stylesheet">
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

            jQuery('#responsive').change(function () {
                $('#responsive_wrapper').width(jQuery(this).val());
            });

        });

    </script>
    <script>
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
    <script src="~/Content/js/move-top.js"></script>
    <script src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>               
</body>
</html>
