@using eCommerce
@model IEnumerable<eCommerce.Models.SM_Order>
    @{
        Layout = "";
        int? tomoney = 1;
        int? total = 0;
        int? moneyship = 0;
    }

    <!DOCTYPE html>
    <html>
    <head>
        <title>Đồ chơi SM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="~/Content/js/move-top.js"></script>
        <script type="text/javascript" src="~/Content/js/easing.js"></script>
        <script src="~/Content/js/jquery-2.1.4.min.js"></script>
        <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
        <style>
            body {
                font-family: Arial;
                font-size: 17px;
                padding: 8px;
            }

            * {
                box-sizing: border-box;
            }

            .row {
                display: -ms-flexbox; /* IE10 */
                display: flex;
                -ms-flex-wrap: wrap; /* IE10 */
                flex-wrap: wrap;
                margin: 0 -16px;
            }

            .col-25 {
                -ms-flex: 25%; /* IE10 */
                flex: 25%;
            }

            .col-50 {
                -ms-flex: 50%; /* IE10 */
                flex: 50%;
            }

            .col-75 {
                -ms-flex: 75%; /* IE10 */
                flex: 75%;
            }

            .col-25,
            .col-50,
            .col-75 {
                padding: 0 16px;
            }

            #name {
                margin-top: 45px;
            }
            
            .area{
                display: grid;d
            }

            .container {
                background-color: #f2f2f2;
                padding: 5px 20px 15px 20px;
                border: 1px solid lightgrey;
                border-radius: 3px;
            }

            input[type=text] {
                width: 100%;
                margin-bottom: 20px;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            label {
                margin-bottom: 10px;
                margin-top: 10px;
                display: block;
            }

            .form-check-label {
                margin-left: 5px;
                s
            }

            .icon-container {
                margin-bottom: 20px;
                padding: 7px 0;
                font-size: 24px;
            }

            .btn {
                background-color: #4CAF50;
                color: white;
                padding: 12px;
                margin: 10px 0;
                border: none;
                width: 100%;
                border-radius: 3px;
                cursor: pointer;
                font-size: 17px;
            }

                .btn:hover {
                    background-color: #45a049;
                }

            a {
                color: #2196F3;
            }

            hr {
                border: 1px solid lightgrey;
            }

            span.price {
                float: right;
                color: grey;
            }

            .form-control {
                height: 25px;
                width: 200px;
                font-size: 16px;
                margin-left: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
            /* Popup container - can be anything you want */
            .popup {
                position: relative;
                display: inline-block;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

                /* The actual popup */
                .popup .popuptext {
                    visibility: hidden;
                    width: 250px;
                    background-color: #555;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 8px 0;
                    position: relative;
                    z-index: 1;
                    bottom: 135%;
                    left: 70%;
                    margin-left: -245px;
                    margin-top: -30px;
                }



                /* Toggle this class - hide and show the popup */
                .popup .show {
                    visibility: visible;
                    -webkit-animation: fadeIn 1s;
                    animation: fadeIn 1s;
                }

            /* Add animation (fade in the popup) */
            @@-webkit-keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @@keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            ul li ul li a:hover {
                background: #666;
            }

            }


            /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
            @@media (max-width: 800px) {
                .row {
                    flex-direction: column-reverse;
                }

                .col-25 {
                    margin-bottom: 20px;
                }
            }
        </style>
    </head>
    <body>
        <h2>Thanh toán giỏ hàng</h2>
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <form action="/checkout/sendemail" method="get">

                        <div class="row">
                            <div class="col-50">
                                <h3>Thông tin khách hàng</h3>
                                <label for="fname"><i class="fa fa-user"></i> Họ và tên</label>
                                <input type="text" id="fname" name="name" placeholder="Nhập họ tên">
                                @*<label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" id="email" name="email" placeholder="abc@mail.com">*@
                                <label for="city"><i class="fa fa-institution"></i> Số điện thoại</label>
                                <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại">
                                <label for="adr"><i class="fa fa-address-card-o"></i> Địa chỉ nhận hàng</label>
                                <input type="text" id="adr" name="address" placeholder="Nhập địa chỉ chi tiết">
                                <div class="row">
                                    <div class="col-50">
                                        <label for="state"> Quận/Huyện</label>
                                        <input type="text" id="district" name="district" placeholder="Nhập quận">
                                    </div>
                                    <div class="col-50">
                                        <label for="zip"> Thành phố</label>
                                        <input type="text" id="city" name="city" placeholder="Nhập thành phố">
                                    </div>
                                </div>
                            </div>

                            <div class="col-50">
                                <div class="col-50">
                                    <h3>Hình thức thanh toán</h3>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                            Thanh toán khi nhận hàng
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                            Ship tốc hành bằng LalaMove
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                                            Chuyển khoản trước (Xin liên hệ <a href="http://www.facebooks.com/dochoism/">Facebook</a> của shop)
                                        </label>
                                    </div>
                                </div>

                                <div class="col-50">
                                    <div class="area">
                                        <h3 id="name">Phí vận chuyển</h3>
                                        <div class="input-group popup">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                                                Khu vực 1
                                            </label>
                                            <select class="form-control" onchange="myFunction()" id="tp1">
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Chọn Thành Phố</option>
                                                <option value="city1" id="tp1" name="TP"><i class="fa fa-arrow-right " aria-hidden="true"></i>TP HCM</option>
                                                <option value="city2" id="tp2"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cần Thơ</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đà Nẵng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hải Phòng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Nội</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>An Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bà Rịa - Vũng Tàu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bạc Liêu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bến Tre</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Dương</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cà Mau</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đồng Nai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đồng Tháp</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hậu Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Khánh Hòa</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kiên Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lâm Đồng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Long An</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tây Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tiền Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Trà Vinh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vĩnh Long</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Cạn</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Định</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Phước</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Thuận</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cao Bằng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đắk Lắk</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đắk Nông</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Điện Biên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Gia Lai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Nam</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Tĩnh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hải Dương</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hòa Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hưng Yên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kon Tum</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lai Châu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lạng Sơn</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lào Cai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Nam Định</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Nghệ An</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ninh Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ninh Thuận</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Phú Thọ</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Nam</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Ngãi</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Trị</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sóc Trăng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sơn La</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thái Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thái Nguyên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thanh Hóa</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thừa Thiên Huế</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tuyên Quang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vĩnh Phúc</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Yên Bái</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Phú Yên</option>
                                            </select>
                                            <script>
                                                var popup = document.getElementById("tp1").onchange = function () {
                                                    document.getElementById("myPopup").style.display = 'block';
                                                }
                                            </script>
                                            <script>
                                                var popup = document.getElementById("tp2").onchange = function () {
                                                    document.getElementById("myPopup").style.display = 'block';
                                                }
                                            </script>
                                        </div>

                                        <div class="input-group popup">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                                                Khu vực 2
                                            </label>
                                            <select class="form-control" onchange="myFunction()">
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Chọn Thành Phố</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>TP HCM</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cần Thơ</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đà Nẵng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hải Phòng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Nội</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>An Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bà Rịa - Vũng Tàu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bạc Liêu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bến Tre</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Dương</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cà Mau</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đồng Nai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đồng Tháp</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hậu Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Khánh Hòa</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kiên Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lâm Đồng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Long An</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tây Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tiền Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Trà Vinh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vĩnh Long</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Cạn</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Định</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Phước</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Thuận</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cao Bằng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đắk Lắk</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đắk Nông</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Điện Biên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Gia Lai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Nam</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Tĩnh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hải Dương</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hòa Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hưng Yên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kon Tum</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lai Châu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lạng Sơn</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lào Cai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Nam Định</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Nghệ An</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ninh Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ninh Thuận</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Phú Thọ</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Nam</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Ngãi</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Trị</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sóc Trăng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sơn La</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thái Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thái Nguyên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thanh Hóa</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thừa Thiên Huế</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tuyên Quang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vĩnh Phúc</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Yên Bái</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Phú Yên</option>

                                            </select>
                                        </div>

                                        <div class="input-group popup">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="option6">
                                                Khu vực 3
                                            </label>
                                            <select class="form-control" onchange="myFunction()">
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Chọn Thành Phố</option>
                                                <option value="null" onclick="myFunction()"><i class="fa fa-arrow-right popup" aria-hidden="true"><span class=" popuptext" id="myPopup"></span></i>TP HCM</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cần Thơ</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đà Nẵng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hải Phòng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Nội</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>An Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bà Rịa - Vũng Tàu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bạc Liêu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bến Tre</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Dương</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cà Mau</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đồng Nai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đồng Tháp</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hậu Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Khánh Hòa</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kiên Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lâm Đồng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Long An</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tây Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tiền Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Trà Vinh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vĩnh Long</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Cạn</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bắc Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Định</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Phước</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Bình Thuận</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cao Bằng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đắk Lắk</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đắk Nông</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Điện Biên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Gia Lai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Giang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Nam</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hà Tĩnh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hải Dương</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hòa Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Hưng Yên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kon Tum</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lai Châu</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lạng Sơn</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Lào Cai</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Nam Định</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Nghệ An</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ninh Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ninh Thuận</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Phú Thọ</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Nam</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Ngãi</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Ninh</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Quảng Trị</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sóc Trăng</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sơn La</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thái Bình</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thái Nguyên</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thanh Hóa</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thừa Thiên Huế</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Tuyên Quang</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vĩnh Phúc</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Yên Bái</option>
                                                <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Phú Yên</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Continue to checkout" class="btn">
                    </form>
                </div>
            </div>
            <div class="col-25">
                <div class="container">
                    <h4>Giỏ hàng <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>@Model.Count()</b></span></h4>
                    @foreach (var item in Model)
                    {
                        tomoney = (item.Quantity * item.Price);
                        <p><a href="/detailproduct/detail/@item.ID">@item.PrductName</a> <span class="price">@string.Format("{0:n0}", tomoney)</span></p>
                        total += tomoney;
                    }
                    <hr>
                    <p>Tổng tiền <span class="price" style="color:black"><b>@string.Format("{0:n0}", total)</b></span></p>
                    <span class="popuptext" id="myPopup" style="display:none">Hóa đơn dưới 200.00VND - Free ship</span>
                    <span class="popuptext" id="myPopup" style="display:none">Hóa đơn trên 200.000VND - Tiền ship: 10.00VND</span>
                </div>
            </div>
        </div>

        <script src="~/Content/js/move-top.js"></script>
        <script src="~/Content/js/easing.js"></script>
        <script src="~/Content/js/minicart.min.js"></script>
        <script>
            paypal.minicart.render({
                action: '/checkout/addtocart'
            });
            paypal.minicart.reset();
        </script>
        <script>
            function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
        </script>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
    </body>
</html>

