@model IEnumerable<eCommerce.Models.SM_Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/home/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Search</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!--- personalcare --->
<div class="products">
    <div class="container">
        <div class="col-md-3 products-left">
            <div class="categories">
                <h2>Danh sách</h2>
                <ul class="cate">
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Set &amp; Accessory</a></li>
                    <ul>
                        <li><a href="/product/smset"><i class="fa fa-arrow-right" aria-hidden="true"></i>Set SM</a></li>
                        <li><a href="/product/smaccessory"><i class="fa fa-arrow-right" aria-hidden="true"></i>Phụ kiện</a></li>
                    </ul>
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Vibrator</a>></li>
                    <ul>
                        <li><a href="/product/vibtr"><i class="fa fa-arrow-right" aria-hidden="true"></i>Trứng rung</a></li>
                        <li><a href="/product/vibmr"><i class="fa fa-arrow-right" aria-hidden="true"></i>Máy rung</a></li>
                    </ul>
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Anal Toy</a></li>
                    <ul>
                        <li><a href="/product/analbutt"><i class="fa fa-arrow-right" aria-hidden="true"></i>Butt Plug</a></li>
                        <li><a href="/product/analbead"><i class="fa fa-arrow-right" aria-hidden="true"></i>Anal Beads</a></li>
                    </ul>
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>SM Tails</a></li>
                    <ul>
                        <li><a href="/product/tailfox"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đuôi cáo</a></li>
                        <li><a href="/product/taildog"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đuôi thỏ/ chó</a></li>
                    </ul>
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Paddle/Whip/Cane</a></li>
                    <ul>
                        <li><a href="/product/paddle"><i class="fa fa-arrow-right" aria-hidden="true"></i>Paddle</a></li>
                        <li><a href="/product/whip"><i class="fa fa-arrow-right" aria-hidden="true"></i>Whip</a></li>
                        <li><a href="/product/cane"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cane</a></li>
                    </ul>
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Dildo/Chastity</a></li>
                    <ul>
                        <li><a href="/product/fakedildo"><i class="fa fa-arrow-right" aria-hidden="true"></i>DV giả</a></li>
                        <li><a href="/product/blockdildo"><i class="fa fa-arrow-right" aria-hidden="true"></i>Khóa DV</a></li>
                        <li><a href="/product/strapon"><i class="fa fa-arrow-right" aria-hidden="true"></i>Strap-on</a></li>
                    </ul>
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Gag</a></li>
                    <ul>
                        <li><a href="/product/ballgag"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ball gag</a></li>
                        <li><a href="/product/runggag"><i class="fa fa-arrow-right" aria-hidden="true"></i>Rung gag</a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="col-md-9 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    <div class="sorting">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by popularity</option>
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by average rating</option>
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by price</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            @foreach(var item in Model)
            {
            <div class="agile_top_brands_grids">
                <div class="col-md-4 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="/detailproduct/detail/@item.ID"><img title="" style="height: 200px; width:200px;" alt="" src="/images/avatar/@item.Avatar"></a>
                                            <p>@item.ProductName</p>
                                            <h4>@item.Price VND</h4>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            }
            <nav class="numbering">
                <ul class="pagination paging">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--- personalcare --->
